[Unit]
Description=Idle management daemon for Wayland
Documentation=https://github.com/swaywm/swayidle
BindsTo=sway-session.target

[Service]
Type=simple
Environment=LOCK_BG="/usr/share/backgrounds/waves.png"
Environment=SWAYLOCK_CMD="swaylock -Ffe --indicator-idle-visible --image ${LOCK_BG}" 
ExecStart=/usr/bin/swayidle -w timeout 300 ${SWAYLOCK_CMD} timeout 600 "systemctl suspend" before-sleep ${SWAYLOCK_CMD}

[Install]
WantedBy=sway-session.target
