[Unit]
Description=Day/night gamma adjustments for Wayland compositors
Documentation=https://sr.ht/~kennylevinsen/wlsunset
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wlsunset -l "32.7" -L "-96.8"

[Install]
WantedBy=sway-session.target
